<mat-card>
  <p
    style="
      text-align: center;
      padding: 10px;
      background-color: orangered;
      border-radius: 20px;
    "
  >
    {{ data.id }}
  </p>
  <hr />
  <p style="text-align: center">{{ data.title }}</p>
  <hr />
  <p style="text-align: center">{{ data.body }}</p>
  <hr />

  <button
    mat-raised-button
    style="background-color: aqua"
    (click)="selectBook(data)"
  >
    select
  </button>
</mat-card>
