<h1>Hello</h1>
<h2>Hello</h2>
<h3>Hello</h3>
<h4>Hello</h4>
<h5>Hello</h5>
<h6>Hello</h6>
<a routerLink="/second">second page</a>
<p id="my-style">{{ thisIsAVariable }}</p>

<input type="text" [(ngModel)]="userName" />
<p>{{ userName }}</p>

<table>
  <thead>
    <tr>
      <td>Album Id</td>
      <td>Id</td>
      <td>Title</td>
      <td>Image url</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of data">
      <td>{{ d.userId }}</td>
      <td>{{ d.id | currency: "EUR" }}</td>
      <td>{{ d.title }}</td>
      <!-- <td><img src="{{ d.thumbnailUrl }}" /></td> -->
      <td>{{ d.body }}</td>
    </tr>
  </tbody>
</table>
