<div style="background-color: lightgray">
  <p>This is business home</p>

  <p>{{ date | date: "fullDate" | lowercase }}</p>
  <p>{{ date | date: "medium" | uppercase }}</p>
  <div *ngFor="let d of data">
    <app-book-card
      class="book-card"
      [data]="d"
      (selectedId)="selectedBookId($event)"
    ></app-book-card>
  </div>
</div>
